__pycache__
.ipynb_checkpoints
**/.DS_Store
work_dirs
*.pth
data
outputs/
pretrained/
detection/pretrained/
denseclip.egg-info/
*.tar
*.tar.*
*.zip
*.7z
*.pt
*.ckpt
*.bin
*.log
*.tmp
*.temp
python
Untitled4.ipynb
VPN-Guidance.pdf
上传的文件/
